//@switch
.mixins(400,@value){
	font-weight:@value;
}

.mixins(800,@value){
	font-weight:@value;
}

.menu{
	//�����ж�������ֵ
	@switch:400;
	.mixins(@switch,800);
}


//ƥ����ʽ
.font-size (@size) when(@size =< 12){
	font-size:@size;
}

/*@media:mobile;

.mixin (@a) when (@media = mobile) { }
.mixin (@a) when (@media = desktop) { }

//not������,ȡ��
.not (@a) when not (isnumber(@a)){
	position:absolute;
}
.menu{
	.not(ting);
}

//and ��������

.and (@a) when (isnumber(@a)) and (@a > 10) {
	left:@a px;
}
.menu{
	.and(20);
}*/

//,�ָ��ʾ��������һ������Ϊ��ִ��

.comma (@a) when (@a > 10),(@a < 5){
	font-size:@a;
}